.feedback {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(15, 115, 90);
  color: white;
  border-radius: 10px;
  border: 1px solid rgb(251, 248, 248);
  margin: 30px;
}
